
<div class="flex flex-col items-center justify-center min-h-screen bg-backGroundColor">
    <h1 class="text-4xl mb-3 font-sans font-semibold">Spring Essentials</h1>
    <div class="max-w-4xl mx-auto p-2  rounded-3xl shadow-lg">
    
      <div class="relative overflow-hidden rounded-lg">
        <img
          src="https://img.freepik.com/free-photo/full-shot-cool-people-wearing-chain-necklace_23-2149409723.jpg?t=st=1723179644~exp=1723183244~hmac=04bf09a6e295524f0e35a953780b734f2534cbdd0f3270c2a1158e9726e9c67e&w=826"
          alt="Spring essentials"
          class="w-full object-cover rounded-lg"
        />
      </div>
    </div>
  </div>
  
  
