<div class="container bg-lightPink rounded-lg mx-auto h-auto pl-12 pr-12">

  <div class="flex flex-col mx-auto lg:flex-row h-3/4 pt-8 p-4 ">

    <div class=" relative flex-none w-full h-full lg:w-1/3  rounded-lg ">
      <img
        src="
        https://img.freepik.com/free-photo/sensual-pretty-stylish-brunette-woman-posing-elegant-smart-casual-warm-cozy-clothes-denim-cardigan-scarf-autumn-winter-fashion-style_291049-1236.jpg?t=st=1723111361~exp=1723114961~hmac=8e35f83adb552ea16dfa256eee83060bf88b09d7d444ea222bedac6794d234b5&w=360"
        alt="Product Image" class="rounded-lg h-full w-full object-fill">

      <div class=" flex flex-col space-y-4 md:mr-4 h-2/4 justify-items-center mt-10 -ml-10">

        <div class="flex flex-col justify-self-center">
          <img src="https://as2.ftcdn.net/v2/jpg/03/04/47/43/1000_F_304474304_KIsOKv50QqbgepZdIXgsGxm1ycOoZx8j.jpg"
            alt="Thumbnail 1"
            class="absolute float-left top-0  mt-16  border border-mediumPink -left-7 w-24 h-24 object-cover object-left rounded-lg z-10">

          <img src="https://t3.ftcdn.net/jpg/03/20/68/66/240_F_320686681_Ur6vdYQgDC9WiijiVfxlRyQffxOgfeFz.jpg"
            alt="Thumbnail 1"
            class="absolute float-left top-20 mt-24 -left-7 border border-mediumPink w-24 h-24 object-cover object-left rounded-lg z-10">

          <img
            src="https://img.freepik.com/free-photo/woman-content-with-purchases-posing-camera_23-2147689044.jpg?t=st=1722929519~exp=1722933119~hmac=fb3b0b5dcf7169ae456d9bf001644f7a62d997cfb85d3fc18c4bf50f36c119c3&w=360"
            alt="Thumbnail 1"
            class="absolute float-left top-40 mt-32 -left-7 border border-mediumPink w-24 h-24 object-cover object-left rounded-lg z-10">

        </div>

      </div>
    </div>

    <div class="flex-grow p-4">
      <h1 class="text-2xl font-bold mb-2">Portrait of pretty brunette woman</h1>
      <br>
      <p class="text-xl font-bold text-yellow mb-7">$275</p>
      <br>
      <span class="text-blackBean mt-8 mb-4">#39587568</span>
      <div class="flex items-center mb-4">
        <span class="text-yellow font-bold mr-2">★★★★☆</span>
        <sub class="text-blackBean">4.9 | 140 Reviews | 431 sold</sub>
      </div>
      <br>
      <p class="text-blackBean text-wrap mb-4">
        Get ready to elevate your denim game with our stylish and versatile high waisted jeans. These jeans are designed
        to flatter your figure and provide a comfortable fit that accentuates your curves. The high-rise waistline not
        only elongates your legs but also offers a sleek and slimming effect.
      </p>
      <br>

      <div class="flex space-x-2 mb-4 overflow-hidden">
        <button
          class="py-2 px-6 rounded-full border  hover:border-blackBean border-b-2 hover:bg-orange  bg-mediumPink">38</button>
        <button
          class="py-2 px-6 rounded-full border  hover:border-blackBean border-b-2 hover:bg-orange bg-mediumPink">40</button>
        <button
          class="py-2 px-6 rounded-full border  hover:border-blackBean border-b-2 hover:bg-orange bg-mediumPink">42</button>
        <button
          class="py-2 px-6 rounded-full border hover:border-blackBean border-b-2 bg-mediumPink hover:bg-orange">46</button>
        <button
          class="py-2 px-6 rounded-full border  hover:border-blackBean border-b-2 hover:bg-orange bg-mediumPink">48</button>
      </div>
      <br>
      <!-- <button
        class="py-1 px-10 mt-4 bg-orange shadow-lg hover:shadow-lg shadow-black  text-white rounded-full mb-4">Shop
        Now</button> -->
      <div class="flex space-x-2">
        <!-- <button  class="inline-block bg-orange-500 text-white px-3 py-1 shadow shadow-black hover:bg-orange-600 rounded-full mt-2 ">
          Shop Now  <i class="fas fa-shopping-cart text-white ml-2 mr-2"></i>
      </button> -->
        <button
          class="py-1 px-10 mt-4 hover:bg-orange   text-white bg-lightOrange rounded-full mb-2  border border-b-4 border-black">Shop
          Now <i class="fas fa-shopping-cart text-white ml-2 mr-2"></i></button>
        <!-- <button class="py-1 px-4 mt-4 mb-2 bg-white border border-b-4 border-black  rounded-full"><i class="fas fa-heart text-black"></i></button>
        <button class="py-1 px-4 mt-4 mb-2 bg-white border border-b-4 border-black rounded-full"><i class="fas fa-share text-black"></i></button> -->
        <button class="py-1 px-4 mt-4 mb-2 bg-white border border-b-4 border-black  rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
          </svg>

        </button>
        <button class="py-1 px-4 mt-4 mb-2 bg-white border border-b-4 border-black rounded-full"><svg
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
          </svg>
        </button>
      </div>
      <select class="py-1 px-2 mt-4 mr-2  text-blackBean  mb-2 ">
        <option>quantity</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>

    </div>

  </div>
  <div class="mb-4 pr-12">
    <details
      class=" flex justify-between items-center bg-mediumPink text-blackBean font-bold py-2 px-4 pr-4 border border-b-2 border-black rounded-md">
      <summary> Description </summary>
      <!-- <span class="transform transition-transform">▲</span> -->
      <p class="mb-2 mt-1 text-sm font-normal ">
        <svg class="w-6 h-6 text-orange inline-block mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20">
          <path d="M10 15l-5-5h10l-5 5z" />
        </svg>
        Women's coats are an essential item in any cold weather wardrobe and are available in a wide variety of designs,
        materials, and hues. Several popular coat designs for ladies include: Trench coats: Trench coats are a timeless
        and adaptable style that look great in both informal and formal settings. They usually have a longer length, a
        double-breasted front, and a belted waist.
      </p>
      <p class="mb-2 mt-1 text-sm font-normal ">
        <svg class="w-6 h-6 text-orange inline-block mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20">
          <path d="M10 15l-5-5h10l-5 5z" />
        </svg>
        Pea coats: Pea coats are double-breasted, shorter jackets with a nautical design. They are usually tailored and
        made of wool or a wool-blend cloth. Parkas: Parkas are a type of casual coat that is made to endure cold weather
        and is frequently insulated. They frequently have a cape, are longer, and occasionally have faux-fur or furry
        trim.
      </p>
    </details>
  </div>

  <div class="mb-4 pr-12">
    <details
      class="w-full flex justify-between items-center bg-mediumPink text-blackBean font-bold py-2 px-4 pr-4 border border-b-2 border-black rounded-md">
      <summary> Reviews </summary>
      <!-- <span class="transform transition-transform">▲</span> -->
      <p class="mb-2 mt-1 text-sm font-normal ">
        <svg class="w-6 h-6 text-orange inline-block mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20">
          <path d="M10 15l-5-5h10l-5 5z" />
        </svg>
        Women's coats are an essential item in any cold weather wardrobe and are available in a wide variety of designs,
        materials, and hues. Several popular coat designs for ladies include: Trench coats: Trench coats are a timeless
        and adaptable style that look great in both informal and formal settings. They usually have a longer length, a
        double-breasted front, and a belted waist.
      </p>
      <p class="mb-2 mt-1 text-sm font-normal ">
        <svg class="w-6 h-6 text-orange inline-block mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20">
          <path d="M10 15l-5-5h10l-5 5z" />
        </svg>
        Pea coats: Pea coats are double-breasted, shorter jackets with a nautical design. They are usually tailored and
        made of wool or a wool-blend cloth. Parkas: Parkas are a type of casual coat that is made to endure cold weather
        and is frequently insulated. They frequently have a cape, are longer, and occasionally have faux-fur or furry
        trim.
      </p>
    </details>
  </div>

  <div class="mb-4 pr-12">
    <details
      class="w-full flex justify-between items-center bg-mediumPink text-blackBean font-bold py-2 px-4 pr-4 border border-b-2 border-black rounded-md">
      <summary> Terms and Conditions </summary>
      <!-- <span class="transform transition-transform">▲</span> -->
      <p class="mb-2 mt-1 text-sm font-normal ">
        <svg class="w-6 h-6 text-orange inline-block mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20">
          <path d="M10 15l-5-5h10l-5 5z" />
        </svg>
        Women's coats are an essential item in any cold weather wardrobe and are available in a wide variety of designs,
        materials, and hues. Several popular coat designs for ladies include: Trench coats: Trench coats are a timeless
        and adaptable style that look great in both informal and formal settings. They usually have a longer length, a
        double-breasted front, and a belted waist.
      </p>
      <p class="mb-2 mt-1 text-sm font-normal ">
        <svg class="w-6 h-6 text-orange inline-block mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20">
          <path d="M10 15l-5-5h10l-5 5z" />
        </svg>
        Pea coats: Pea coats are double-breasted, shorter jackets with a nautical design. They are usually tailored and
        made of wool or a wool-blend cloth. Parkas: Parkas are a type of casual coat that is made to endure cold weather
        and is frequently insulated. They frequently have a cape, are longer, and occasionally have faux-fur or furry
        trim.
      </p>
    </details>
  </div>



  <div class="w-full mx-auto ">
    <div class="relative">
      <h2 class="text-3xl font-semibold text-gray-800 ml-8">Customers also love</h2>
      <p class="mt-2 text-gray-600  ml-8">Share information about your brand with your customers.</p>


      <div class="mt-12 text-center">
        <button
          class="inline-block bg-lightOrange text-white px-6 py-2 border border-b-4 border-black shadow shadow-black hover:bg-orange rounded-full absolute top-3 right-0 p-1 mr-24">
          Explore More →
        </button>
      </div>

      <!-- <div class="flex flex-row-2">
    <h2 class="text-3xl font-semibold text-left mb-2">Customers also love
    <sub class="text-left text-sm text-gray-600 mb-6">Share information about your brand with your customers.</sub>
   </h2>

   <button
       class="py-1 px-10 mt-4 hover:bg-orange  text-right text-white bg-lightOrange rounded-full mb-2  border border-b-4 border-black">
       Explore More ->
   </button>
  </div> -->

      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mr-8">
        <!-- Card 1 -->
        <div class="rounded-lg overflow-hidden relative group">
          <img src="https://as2.ftcdn.net/v2/jpg/03/04/47/43/1000_F_304474304_KIsOKv50QqbgepZdIXgsGxm1ycOoZx8j.jpg"
            alt="Product 1" class="w-full object-cover">
          <div class="  inset-x-0 bottom-2  backdrop">
            <div class="flex justify-between items-center  ">
              <!-- <button
                        class="py-1 px-10 mt-4 hover:bg-orange ml-8  text-white bg-lightOrange rounded-full mb-2  border border-b-4 border-black">
                        Add To Cart → 
                    </button> -->
              <button
                class="hidden  group-hover:flex absolute bottom-10 -mb-3 right-28 mr-16 bg-transparent
                     text-white px-8 py-2 rounded-full opacity-50 pointer-events-none shadow shadow-black group-hover:bg-orange group-hover:pointer-events-auto group-hover:opacity-100 ">
                Add To Cart →
              </button>
              <select
                class="hidden  group-hover:flex absolute bottom-10 -mb-3 mx-4 right-2  bg-transparent
                    text-black px-4 py-2 rounded-full opacity-50 pointer-events-none shadow shadow-black group-hover:bg-white group-hover:pointer-events-auto group-hover:opacity-100 ">

                <option>Red</option>
                <option>Blue</option>
                <option>Green</option>
              </select>

            </div>

          </div>
        </div>

        <!-- Card 2 -->
        <div class="relative group rounded-lg overflow-hidden border border-gray-300">
          <img
            src="https://img.freepik.com/free-photo/woman-content-with-purchases-posing-camera_23-2147689044.jpg?t=st=1722929519~exp=1722933119~hmac=fb3b0b5dcf7169ae456d9bf001644f7a62d997cfb85d3fc18c4bf50f36c119c3&w=360"
            alt="Product 2" class="w-full object-cover">
          <div class="  inset-x-0 bottom-2  backdrop">
            <div class="flex justify-between items-center  ">
              <!-- <button
                       class="py-1 px-10 mt-4 hover:bg-orange ml-8  text-white bg-lightOrange rounded-full mb-2  border border-b-4 border-black">
                       Add To Cart → 
                   </button> -->
              <button
                class="hidden  group-hover:flex absolute bottom-10 -mb-3 right-28 mr-16 bg-transparent
                    text-white px-8 py-2 rounded-full opacity-50 pointer-events-none shadow shadow-black group-hover:bg-orange group-hover:pointer-events-auto group-hover:opacity-100 ">
                Add To Cart →
              </button>
              <select
                class="hidden  group-hover:flex absolute bottom-10 -mb-3 mx-4 right-2  bg-transparent
                   text-black px-4 py-2 rounded-full opacity-50 pointer-events-none shadow shadow-black group-hover:bg-white group-hover:pointer-events-auto group-hover:opacity-100 ">
                <option>Red</option>
                <option>Blue</option>
                <option>Green</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="rounded-lg overflow-hidden relative group">
          <img
            src="https://img.freepik.com/free-photo/curly-lady-yellow-dress-pinup-style-is-smiling-affably-brunette-with-straw-bag-puts-sunglasses_197531-26567.jpg?t=st=1723187289~exp=1723190889~hmac=b3a99c3549806b9400f287954b756c2c29c369887c54c7b64f1e3f300b35d3cd&w=360"
            alt="Product 3" class="w-full object-cover">
          <div class="  inset-x-0 bottom-2  backdrop">
            <div class="flex justify-between items-center  ">
              <!-- <button
                        class="py-1 px-10 mt-4 hover:bg-orange ml-8  text-white bg-lightOrange rounded-full mb-2  border border-b-4 border-black">
                        Add To Cart → 
                    </button> -->
              <button
                class="hidden  group-hover:flex absolute bottom-10 -mb-3 right-28 mr-16 bg-transparent
                     text-white px-8 py-2 rounded-full opacity-50 pointer-events-none shadow shadow-black group-hover:bg-orange group-hover:pointer-events-auto group-hover:opacity-100 ">
                Add To Cart →
              </button>
              <select
                class="hidden  group-hover:flex absolute bottom-10 -mb-3 mx-4 right-2  bg-transparent
                    text-black px-4 py-2 rounded-full opacity-50 pointer-events-none shadow shadow-black group-hover:bg-white group-hover:pointer-events-auto group-hover:opacity-100 ">
                <option>Red</option>
                <option>Blue</option>
                <option>Green</option>
              </select>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>