<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <header class="bg-orange text-white py-4 ">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold">Chic Couture</h1>
            <nav class="flex space-x-6">

                <a href="#" class="hover:underline">Collection</a>
                <a href="#" class="hover:underline">Shop</a>
                <a href="#" class="hover:underline">New Arrival</a>
                <a href="#" class="hover:underline">About</a>
                <a href="#" class="hover:underline">Login</a>




                <button class="bg-yellow text-black px-4 py-2 rounded-full hover:bg-orange  ">Get
                    Started</button>
            </nav>
        </div>
    </header>
    <main class="container mx-auto mt-10  flex pl-8 pr-8">
        <div class="w-1/4  mr-10">
            <div class="bg-mediumPink p-6 rounded-md shadow-md">
                <h2 class="text-xl font-bold mb-4">Categories</h2>
                <div class="grid grid-cols-2 gap-4">
                    <button class="bg-white px-4 py-2 rounded-full hover:bg-orange shadow-black">All</button>
                    <button class="bg-white px-4 py-2 rounded-full hover:bg-orange">New Arrival</button>
                    <button class="bg-white px-4 py-2 rounded-full hover:bg-orange">Best Seller</button>
                    <button class="bg-white px-4 py-2 rounded-full hover:bg-orange">Men</button>
                    <button class="bg-white px-4 py-2 rounded-full hover:bg-orange">Woman</button>
                    <button class="bg-white px-4 py-2 rounded-full hover:bg-orange">Kids</button>
                </div>
            </div>
            <div class="   bg-mediumPink p-6 rounded-md shadow-md mt-6">
                <h2 class="text-xl font-bold mb-4">Color</h2>
                <div class="flex flex-wrap gap-2">
                    <div class="w-6 h-6 rounded-full bg-gray-300"></div>
                    <div class="w-6 h-6 rounded-full bg-red-500"></div>
                    <div class="w-6 h-6 rounded-full bg-orange"></div>
                    <div class="w-6 h-6 rounded-full bg-yellow"></div>
                    <div class="w-6 h-6 rounded-full bg-green"></div>
                    <div class="w-6 h-6 rounded-full bg-blue-500"></div>
                    <div class="w-6 h-6 rounded-full bg-indigo-500"></div>
                    <div class="w-6 h-6 rounded-full bg-purple"></div>
                    <div class="w-6 h-6 rounded-full bg-pink-500"></div>
                    <div class="w-6 h-6 rounded-full bg-gray-900"></div>
                    <div class="w-6 h-6 rounded-full bg-gray-800"></div>
                    <div class="w-6 h-6 rounded-full bg-gray-700"></div>
                    <div class="w-6 h-6 rounded-full bg-gray-600"></div>
                    <div class="w-6 h-6 rounded-full bg-gray-500"></div>
                    <div class="w-6 h-6 rounded-full bg-gray-400"></div>
                    <div class="w-6 h-6 rounded-full bg-gray-300"></div>
                    <div class="w-6 h-6 rounded-full bg-gray-400"></div>
                    <div class="w-6 h-6 rounded-full bg-gray-300"></div>
                    <div class="w-6 h-6 rounded-full bg-gray-500"></div>
                    <div class="w-6 h-6 rounded-full bg-gray-400"></div>
                    <div class="w-6 h-6 rounded-full bg-gray-300"></div>
                    <div class="w-6 h-6 rounded-full bg-gray-400"></div>
                    <div class="w-6 h-6 rounded-full bg-gray-300"></div>
                    <div class="w-6 h-6 rounded-full bg-blue-500"></div>

                </div>
            </div>
            <div class="bg-mediumPink p-6 rounded-md shadow-md mt-6">
                <h2 class="text-xl font-bold mb-4">Pricing</h2>
                <div class="flex items-center justify-between">
                    <span class="text-gray-500">$75</span>
                    <div class="w-full bg-gray-200 rounded-full h-2">
                        <div class="bg-orange h-2 rounded-full" style="width: 75%"></div>
                    </div>
                    <span class="text-gray-500">$700</span>
                </div>
            </div>
            <div class="bg-mediumPink p-6 rounded-md shadow-md mt-6">
                <h2 class="text-xl font-bold mb-4">Size</h2>
                <div class="grid grid-cols-2 gap-4">
                    <button class="bg-white px-4 py-2 rounded-full hover:bg-orange">S (2)</button>
                    <button class="bg-white px-4 py-2 rounded-full hover:bg-orange">M (2)</button>
                    <button class="bg-white px-4 py-2 rounded-full hover:bg-orange">L (2)</button>
                    <button class="bg-white px-4 py-2 rounded-full hover:bg-orange">XL (2)</button>
                </div>
            </div>
            <div class="bg-mediumPink p-6 rounded-md shadow-md mt-6">
                <h2 class="text-xl font-bold mb-4">Availability</h2>
                <div class="flex items-center space-x-2">
                    <button class="bg-white px-4 py-2 rounded-full hover:bg-orange">In Stock</button>
                </div>
                <div class="flex items-center space-x-2 mt-2">
                    <button class="bg-white px-4 py-2 rounded-full hover:bg-orange">Out of stock</button>
                </div>
            </div>
        </div>
        <div class="w-3/4">
            <div class="ml-5">
                <div class="dropdown-container">
                    <div>
                        <div class="dropdown">
                            <div>
                                <div class="flex items-center space-x-6">
                                    <!-- Sort By Dropdown -->
                                    <div class="flex items-center">
                                        <label for="sortBy" class="mr-2 text-lg font-semibold">Sort by</label>
                                        <div class="relative ">
                                            <select id="sortBy" name="sortBy"
                                                class="appearance-none bg-transparent text-lg font-semibold text-gray-700 pr-6">

                                                <option value="name">Name</option>
                                                <option value="date">Saree</option>
                                                <option value="price">shirt</option>
                                            </select>
                                            <div
                                                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                                <span class="transform transition-transform"> ▼ </span>
                                                <!-- <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 20 20">
                                                    <path
                                                        d="M5.23 7.21a.75.75 0 011.06 0L10 10.92l3.71-3.71a.75.75 0 111.06 1.06l-4 4a.75.75 0 01-1.06 0l-4-4a.75.75 0 010-1.06z" />
                                                </svg> -->
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Show Dropdown -->
                                    <div class="flex items-center">
                                        <label for="show" class="mr-2 text-lg font-semibold">Show</label>
                                        <div class="relative">
                                            <select id="show" name="show"
                                                class="appearance-none bg-transparent text-lg font-semibold text-gray-700 pr-6">
                                                <option value="9">9</option>
                                                <option value="18">18</option>
                                                <option value="27">27</option>
                                            </select>
                                            <div
                                                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                                <span class="transform transition-transform"> ▼ </span>
                                                <!-- <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 20 20">
                                                    <path
                                                        d="M5.23 7.21a.75.75 0 011.06 0L10 10.92l3.71-3.71a.75.75 0 111.06 1.06l-4 4a.75.75 0 01-1.06 0l-4-4a.75.75 0 010-1.06z" />
                                                </svg> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>


            </div>

            <div class="grid grid-cols-3 gap-4">



                <div class=" rounded-lg  p-4 relative group inline-block">
                    <img src="https://img.freepik.com/premium-photo/images-indian-women-blue-sari_961875-435439.jpg?ga=GA1.1.1595406185.1721193756&semt=ais_hybrid"
                        alt="Product Image" class="w-full rounded-md">
                    <button
                        class="hidden  group-hover:flex absolute bottom-4  right-20 mb-4 bg-transparent  text-white px-4 py-2 rounded-full opacity-50 pointer-events-none group-hover:bg-orange group-hover:pointer-events-auto group-hover:opacity-100 ">Shop
                        Now</button>
                </div>
                <div class=" rounded-lg  p-4 relative">
                    <img src="https://img.freepik.com/premium-photo/images-indian-women-blue-sari_961875-435439.jpg?ga=GA1.1.1595406185.1721193756&semt=ais_hybrid"
                        alt="Product Image" class="w-full rounded-md">
                    <button
                        class="absolute bottom-4  right-20 mb-4 bg-orange  text-white px-4 py-2 rounded-full hover:bg-yellow">Shop
                        Now</button>
                </div>
                <div class=" rounded-lg  p-4 relative">
                    <img src="https://img.freepik.com/premium-photo/images-indian-women-blue-sari_961875-435439.jpg?ga=GA1.1.1595406185.1721193756&semt=ais_hybrid"
                        alt="Product Image" class="w-full rounded-md">
                    <button
                        class="absolute bottom-4  right-20 mb-4 bg-orange  text-white px-4 py-2 rounded-full hover:bg-orange-600">Shop
                        Now</button>
                </div>
                <div class=" rounded-lg  p-4 relative">
                    <img src="https://img.freepik.com/premium-photo/images-indian-women-blue-sari_961875-435439.jpg?ga=GA1.1.1595406185.1721193756&semt=ais_hybrid"
                        alt="Product Image" class="w-full rounded-md">
                    <button
                        class="absolute bottom-4  right-20 mb-4 bg-orange  text-white px-4 py-2 rounded-full hover:bg-orange-600">Shop
                        Now</button>
                </div>
                <div class=" rounded-lg  p-4 relative">
                    <img src="https://img.freepik.com/premium-photo/images-indian-women-blue-sari_961875-435439.jpg?ga=GA1.1.1595406185.1721193756&semt=ais_hybrid"
                        alt="Product Image" class="w-full rounded-md">
                    <button
                        class="absolute bottom-4  right-20 mb-4 bg-orange  text-white px-4 py-2 rounded-full hover:bg-yellow">Shop
                        Now</button>
                </div>
                <div class=" rounded-lg  p-4 relative">
                    <img src="https://img.freepik.com/premium-photo/images-indian-women-blue-sari_961875-435439.jpg?ga=GA1.1.1595406185.1721193756&semt=ais_hybrid"
                        alt="Product Image" class="w-full rounded-md">
                    <button
                        class="absolute bottom-4  right-20 mb-4 bg-orange  text-white px-4 py-2 rounded-full hover:bg-orange">Shop
                        Now</button>
                </div>
                <div class=" rounded-lg  p-4 relative">
                    <img src="https://img.freepik.com/premium-photo/images-indian-women-blue-sari_961875-435439.jpg?ga=GA1.1.1595406185.1721193756&semt=ais_hybrid"
                        alt="Product Image" class="w-full rounded-md">
                    <button
                        class="absolute bottom-4  right-20 mb-4 bg-orange  text-white px-4 py-2 rounded-full hover:bg-orange-600">Shop
                        Now</button>
                </div>
                <div class=" rounded-lg  p-4 relative">
                    <img src="https://img.freepik.com/premium-photo/images-indian-women-blue-sari_961875-435439.jpg?ga=GA1.1.1595406185.1721193756&semt=ais_hybrid"
                        alt="Product Image" class="w-full rounded-md">
                    <button
                        class="absolute bottom-4  right-20 mb-4 bg-orange  text-white px-4 py-2 rounded-full hover:bg-orange-600">Shop
                        Now</button>
                </div>
                <div class=" rounded-lg  p-4 relative">
                    <img src="https://img.freepik.com/premium-photo/images-indian-women-blue-sari_961875-435439.jpg?ga=GA1.1.1595406185.1721193756&semt=ais_hybrid"
                        alt="Product Image" class="w-full rounded-md">
                    <button
                        class="absolute bottom-4  right-20 mb-4 bg-orange  text-white px-4 py-2 rounded-full hover:bg-orange-600">Shop
                        Now</button>
                </div>
            </div>
        </div>
    </main>
    <footer class="bg-orange-500 text-white py-4 mt-10">
        <div class="container mx-auto text-center">
            <p>&copy; 2023 Chic Couture. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>