<div class="bg-lightPink">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 ml-28 p-4 ">
    <div class="space-y-4 ">
      <div class="h-[240px]">
        <div class="bg-blue-600 p-0 rounded-lg h-full w-full ">
          <img src="https://img.freepik.com/premium-photo/girl-pink-sweater-pointing-camera_826450-4470.jpg?w=826"
            alt="" class="rounded-lg h-full w-full object-cover ">
        </div>
      </div>
      <div class="bg-violet-500 p-8 rounded-lg text-3xl font-bold h-[220px] w-full ">
        GET READY <br> FOR SOMETHING <br> NEW
        <div class="mt-4">

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            class="size-5 bg-white rounded-full w-8 h-8 border-solid border-2 border-black hover:shadow-lg shadow-black">
            <path
              d="M6.28 5.22a.75.75 0 0 0-1.06 1.06l7.22 7.22H6.75a.75.75 0 0 0 0 1.5h7.5a.747.747 0 0 0 .75-.75v-7.5a.75.75 0 0 0-1.5 0v5.69L6.28 5.22Z" />
          </svg>



        </div>
      </div>
    </div>
    <div class="space-y-4">
      <div class="bg-rose-100 p-10 rounded-lg h-[335px] relative group">
        <p class="font-bold text-3xl">EXPLORE</p>
        <img
          src="https://img.freepik.com/free-photo/young-cute-woman-cap-glasses-posing-outside-showing-thumbs-up-high-quality-photo_114579-91847.jpg?t=st=1723030945~exp=1723034545~hmac=91c6e4e934d126c0a8f13a2af8e8c814c47d1cf9c71229cd7502ca12b904dfd5&w=360"
          alt="" class=" absolute top-10  left-60 w-9 h-9 rounded-full">
        <img
          src="https://img.freepik.com/free-photo/young-beautiful-girl-posing-black-leather-jacket-park_1153-8104.jpg?t=st=1723034101~exp=1723037701~hmac=ea86d48b6d62c229ed87a45387ce42eb4bb092ee116ca7d3280aacc4f56ef76a&w=360"
          alt="" class=" absolute w-9 h-9 top-10  left-52  rounded-full">
        <img
          src="https://img.freepik.com/free-photo/beautiful-girl-stands-near-walll-with-leaves_8353-5382.jpg?ga=GA1.1.587405150.1707884731&semt=ais_hybrid"
          alt="" class=" absolute top-10  left-44  w-9 h-9 rounded-full">

        <div class="font-bold text-3xl">YOUR FASHIONS</div>
        <div class="font-bold text-3xl">TUNNING!</div>
        <br><br>
        <div>
          At our fashion haven, we believe that fashion is more than just attireit's a form of self-expression.
        </div>
        <button
          class="inline-block bg-orange text-white px-3 py-1 shadow shadow-black hover:bg-orange-600 rounded-full mt-2 ">
          Shop Now
        </button>

      </div>
      <div class="bg-lightYellow p-10 rounded-lg flex justify-between items-center h-[115px]">
        <span class="font-bold text-xl">205K+<br>Collection</span>
        <span class="font-bold text-xl">300+<br>Fashion Brand</span>
      </div>
    </div>
    <div class="space-y-4  ">
      <div class="bg-lime-300 p-10 rounded-lg h-[115px] w-60">
        <div class="h-2 w-16 rounded-full border-black border-solid border-2 relative ">
          <div class="h-1 right-0 w-12 rounded-full bg-black absolute "></div>

          <img
            src="https://img.freepik.com/free-photo/young-cute-woman-cap-glasses-posing-outside-showing-thumbs-up-high-quality-photo_114579-91847.jpg?t=st=1723030945~exp=1723034545~hmac=91c6e4e934d126c0a8f13a2af8e8c814c47d1cf9c71229cd7502ca12b904dfd5&w=360"
            alt="" class=" absolute -top-2 left-32  w-6 h-6 rounded-full">
          <img
            src="https://img.freepik.com/free-photo/young-beautiful-girl-posing-black-leather-jacket-park_1153-8104.jpg?t=st=1723034101~exp=1723037701~hmac=ea86d48b6d62c229ed87a45387ce42eb4bb092ee116ca7d3280aacc4f56ef76a&w=360"
            alt="" class=" absolute -top-2 left-28  w-6 h-6  rounded-full">
          <img
            src="https://img.freepik.com/free-photo/beautiful-girl-stands-near-walll-with-leaves_8353-5382.jpg?ga=GA1.1.587405150.1707884731&semt=ais_hybrid"
            alt="" class=" absolute -top-2 left-24  w-6 h-6 rounded-full">

          <div class="font-bold text-2xl mt-2">2M+</div>
          <div class="font-bold text-xl relative">Trusted <p class="absolute top-0 left-20">Users</p>
            <button class="absolute top-0 left-36">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
              </svg>

            </button>
          </div>
        </div>
        <div></div>
      </div>
      <div class="bg-rose-300 rounded-lg h-[335px] overflow-hidden w-60">
        <img
          src="https://img.freepik.com/free-photo/pleasant-latin-woman-trendy-sunglasses-touching-her-dark-hair-indoor-photo-playful-brunette-girl-isolated_197531-9821.jpg?ga=GA1.1.1746845687.1722586531&semt=ais_hybrid"
          class="rounded-lg h-full w-full object-cover">
      </div>
    </div>
  </div>



  <section class="container mx-auto px-6 py-12 pl-20">
    <div class="relative">
      <h2 class="text-3xl font-semibold text-gray-800 ml-8">Bestseller Products</h2>
      <p class="mt-2 text-gray-600  ml-8">Discover your unique style today.</p>


      <div class="mt-12 text-center">
        <button routerLink="/product-list"
          class="inline-block bg-orange text-white px-6 py-2 shadow shadow-black hover:bg-orange rounded-full absolute top-3 right-0 p-1 mr-24">
          Explore More →
        </button>
      </div>

    </div>
    <div class="mt-8 grid grid-cols-1 md:grid-cols-3 gap-8 ml-8 group ">

      <div class=" rounded-lg relative  group ">
        <img
          src="https://img.freepik.com/free-photo/young-cute-woman-cap-glasses-posing-outside-showing-thumbs-up-high-quality-photo_114579-91847.jpg?t=st=1723064920~exp=1723068520~hmac=88d1751d018fe987a9a6ef8245cd070c743837fc9f8b48627945f879bcfdc14e&w=360"
          alt="Product 1" class="w-72 h-96 object-cover rounded-lg ">
        <button
          class="hidden  group-hover:flex absolute bottom-4  right-20 mb-4 bg-transparent 
           text-white px-4 py-2 rounded-full opacity-50 pointer-events-none group-hover:bg-orange-500 group-hover:pointer-events-auto group-hover:opacity-100 ">
          Shop Now
        </button>
      </div>
      <div class=" rounded-lg    ">
        <img
          src="https://img.freepik.com/premium-photo/sweet-smile-woman-green-sari-carrying-plate-sweet_992397-17935.jpg?w=360"
          alt="Product 1" class="w-72  h-96 object-cover rounded-lg hover:shadow-md shadow-black">

      </div>
      <div class=" rounded-lg  ">
        <img
          src="https://img.freepik.com/premium-photo/young-pretty-teen-girl-with-perfect-slim-fit-body-wearing-stylish-hipster-outfit-bright-summer-fas_926199-4064652.jpg?w=360"
          alt="Product 1" class="w-72 h-96 object-cover rounded-lg">

      </div>


    </div>


  </section>
  <app-best-seller-products></app-best-seller-products>

</div>